     <html>

            <head>
                <title>Control IoT - E3 </title>
                <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            </head>
            
            <body>
                <!-- Image and text -->
                <nav class="navbar navbar-default" style="background-color:#49EB8C!important;" role="navigation">
                    <a class="navbar-brand" href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Black_Cat.svg/1200px-Black_Cat.svg.png" width="50" height="50" class="d-inline-block align-top" alt="">
                        <span class="text-dark">     Lab PIC'S   </span>
                    </a>
                </nav>
            
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="https://y4j9z9c2.stackpathcdn.com/media/catalog/product/cache/2/small_image/300x/9df78eab33525d08d6e5fb8d27136e95/1/0/102427557-1.jpg" class="card-img-top" width="500" height="300">
                                <div class="card-body">
                                    <h5 class="card-title">Sala</h5>
                                    <p class="card-text">Control de iluminacion</p>
                                    <a href="/?sala=on" class="btn btn-success">ON</a>
                                    <a href="/?sala=off" class="btn btn-danger">OFF</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.elmueble.com%2Fmedio%2F2017%2F03%2F24%2Fcocina-abierta-al-comedor_079688cd.jpg&f=1&nofb=1" class="card-img-top" width="500" height="300">
                                <div class="card-body">
                                    <h5 class="card-title">Cocina</h5>
                                    <p class="card-text">Control de iluminacion.</p>
                                    <a href="/?cocina=on" class="btn btn-success">ON</a>
                                    <a href="/?cocina=off" class="btn btn-danger">OFF</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="https://www.ryterna.ee/wp-content/uploads/24-1300x867.jpg" class="card-img-top" width="500" height="300">
                                <div class="card-body">
                                    <h5 class="card-title">Puerta</h5>
                                    <p class="card-text">Abrir y cerrar.</p>
                                    <a href="/?garage=on" class="btn btn-success">ON</a>
                                    <a href="/?garage=off" class="btn btn-danger">OFF</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="https://bloximages.newyork1.vip.townnews.com/news-journal.com/content/tncms/assets/v3/editorial/a/5d/a5d08b90-21ba-11ea-860f-97d14da4e751/5dfa5ff308de6.image.jpg?resize=1200%2C1680" class="card-img-top" width="500" height="300">
                                <div class="card-body">
                                    <h5 class="card-title">Sanitario</h5>
                                    <p class="card-text">Control de iluminacion</p>
                                    <a href="/?sanitario=on" class="btn btn-success">ON</a>
                                    <a href="/?sanitario=off" class="btn btn-danger">OFF</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            </body>
            
            </html>